/* CENTERING LIST ON PG  */
#forPositioning {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Height needed to allow for vertical centering  */
    /* also allows for responsiveness  */
    height: 100vh;
    width: 100vw;

}

/* Styling for actual List Container  */
#listContainer {
    border: 2px solid darkslategrey;
    /* padding: 10px 30px; */
    background-color: rgb(252, 255, 240);
    
/* Done in CodeAlong. I used flexbox instead  */
/* #listContainer {
    width: 360px;
    margin: 0 auto;
} */
}

#listTitle {
    margin: 0;
    padding: 10px 10px;
    background-color: rgb(236, 232, 2);
}


ul {
    /* Remove bullet points from list items  */
    list-style: none;
    /* Removes padding on left so background color will go all the way across */
    padding: 0;
    margin: 1% 0;

}

ul li {
    /* Padding to move text away from edge  */
    padding-left: 10px;
}

/* Hide delete button - jQuery to hover and display  */
.toDelete {
    display: none;
    
}

/* Alternate list background color  */
ul :nth-child(even){
    background-color: rgb(207, 218, 218);
}

.fa-plus {
    color: rgb(252, 255, 240);
}

.fa-trash-alt {
    /* color: darkred; */
    background-color: rgb(226, 0, 0);
    padding: 2px 5px;
    margin-left: 0;
}



body {
    background-color: rgb(0, 135, 177);
}

/* TEXT STYLING FOR TOGGLING CLASS - COMPLETED LI  */
.completed {
    text-decoration: line-through;
    color: rgba(69, 71, 71, 0.726);
}