* {
    /* Keeps elements from spilling out of parent container  */
    box-sizing: border-box;
}
/* CENTERING LIST ON PG  */
#forPositioning {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Height needed to allow for vertical centering  */
    /* also allows for responsiveness  */
    height: 100vh;
    width: 100vw;

}

/* Styling for actual List Container  */
#listContainer {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #f7f7f7;
    min-width: 360px;
    
/* Done in CodeAlong. I used flexbox instead  */
/* #listContainer {
    width: 360px;
    margin: 0 auto;
} */
}

#listTitle {
    margin: 0;
    padding: 10px 10px;
    background-color: rgb(236, 232, 2);
}

input {
    width: 90%;
    margin: 2% 5%;
}


ul {
    /* Remove bullet points from list items  */
    list-style: none;
    /* Removes padding on left so background color will go all the way across */
    padding: 0;
    margin: 1% 0;

}

ul li {
    /* Padding to move text away from edge  */
    padding-left: 10px;
}

/* Hide delete button - jQuery to hover and display  */
.toDelete {
    display: none;
    
}

/* Alternate list background color  */
ul :nth-child(odd){
    background-color: rgb(207, 218, 218);
}

/* the plus sign icon */
.fa-plus {
    color: rgb(252, 255, 240);
    font-size: large;
    /* To align the icon to the right  */
    float: right;
    /* Help to center vertically  */
    margin-top: 2%;
}

.fa-trash-alt {
    /* Not sure why this stopped working */
    background-color: rgb(226, 0, 0);
    padding: 2px 5px;
    margin-left: 0;
}



/* TEXT STYLING FOR TOGGLING CLASS - COMPLETED LI  */
.completed {
    text-decoration: line-through;
    color: rgba(69, 71, 71, 0.726);
}